.App {
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectOption {
  position: relative;
  width: 350px;
  height: auto;
  display: flex;
}

input {
  position: relative;
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background: rgb(21, 21, 21);
  color: white;
  cursor: pointer;
}
.icon{
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 25px;
  color: rgb(208, 208, 208);
  display: flex;
  align-items: center;
  padding-top: 5px;
  transition: transform .2s ease;
  pointer-events: none;
}
.icon.active{
  transform: translateY(-50%) rotate(0deg);
}
.options {
  position: absolute;
  width: 100%;
  max-height: 220px;
  background: #101010;
  border-radius: 10px;
  top: 100%;
  transform: translateY(0);
  overflow: hidden;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  color: #c9c9c9;
}
.options.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(5%);
}
li {
  list-style: none;
  font-size: 17px;
  text-transform: capitalize;
  padding: 17px 20px;
  cursor: pointer;
}
li:hover {
  background: #242424;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #3b3b3b; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9; 
  border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e; 
}

